._.DS_Store
.DS_Store
__pycache__/int_hcamp_deco2012.cpython-311.pyc
__pycache__/pyr_hcamp_deco2012.cpython-311.pyc
._pyr_hcamp_deco2012.py
scripts/__pycache__/__init__.cpython-311.pyc
params/__pycache__/__init__.cpython-311.pyc
params/__pycache__/int_hcamp_deco2012.cpython-311.pyc
params/__pycache__/__init__.cpython-311.pyc
params/__pycache__/int_hcamp_deco2012.cpython-311.pyc
scripts/__pycache__/visualizations.cpython-311.pyc
*.npy
*.png
*.pyc
*.pkl
*.csv
*.tif
*.tiff
